*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    color:black;
    font-family: sans-serif;
    width: 90%;
    padding: 5rem;
    margin: 0 auto;
}
.card{
    height: 52rem;
    width: 60%;
    color: white;
    perspective: 150rem;
    position: relative;
    
}


.card__side {
    height: 52rem;
    position: absolute;
    backface-visibility: hidden;
        transition: all .8s;
    top: 0;
    left: 0;
    width: 100%;
}

.card__side--front {
        background-color: aqua;
}

.card__side--back {
        background-color:red;
        transform: rotateY(180deg);
}
.card:hover .card__side--front {
    transform: rotateY(180deg);
}
.card:hover .card__side--back {
    transform: rotateY(0);
}